<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <test.Properties.Settings>
            <setting name="SQL_DB_Password" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_DB_Login" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_DB_Address" serializeAs="String">
                <value />
            </setting>
            <setting name="SQL_DB_Name" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberPassword" serializeAs="String">
                <value>false</value>
            </setting>
        </test.Properties.Settings>
    </userSettings>
</configuration>